<%- include('navbar') %>
<head>
	<title>About Vinesh | VRC TRUST</title>
</head>
<style>
    div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 5px solid black;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<center>
<h2>Vinesh Ramakrishnan</h2>
<h4>Memories of Vinesh Ramakrishnan</h4>
</center>
<div class="responsive">
  <div class="gallery">
      <img src="v1.jpg"  width="600" height="400">
    </a>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
      <img src="v2.jpg" width="600" height="400">
    </a>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <img src="v3.jpg" width="600" height="400">
    </a>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
      <img src="v4.jpg" width="600" height="400">
    </a>
  </div>
</div>

<div class="responsive">
    <div class="gallery">
        <img src="v5.jpg" width="600" height="400">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
        <img src="ga1.jpg" width="600" height="400">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
        <img src="ga2.jpg" width="600" height="400">
      </a>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
        <img src="ga3.jpg" width="600" height="400">
      </a>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
        <img src="v7.jpg" width="600" height="400">
      </a>
    </div>
  </div>
  <div class="responsive">
    <div class="gallery">
        <img src="v8.jpg" width="600" height="400">
      </a>
    </div>
  </div>
<div class="clearfix"></div>
<div id="fh5co-content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>About Vinesh Ramakrishnan</h3>
                <p>Born in Chennai on 28 <sup>th</sup> May 1995 </p>
                <p>Completed his schooling in PSBB KK nagar Chennai and B.E.
                    Production Engg. at PSG Coimbatore. </p>
                    <p>Worked as Lead designer, Animator and trainer at Warhorse
                    Chennai.</p><p> Worked as special effects video creator for Dream on me Inc. USA .</p>
            <p>VFX enthusiast, was an expert in making special effects videos and video editing. Game developer
                and designer of Virtual Reality environment. From enchanting magic shows that captivated audiences far and wide to mastering the guitar and piano with a self-taught finesse, this dynamo is a musical maestro and a budding artist. Whether sketching, drawing, or composing original tunes, creativity flows effortlessly.

                A film and music buff, this individual can solve a Rubik's cube in under 30 seconds – a true puzzle prodigy! But the talent doesn't stop there; sculpting with clay, crafting leather, and juggling are all part of the dazzling repertoire. A true virtuoso, this multitalented marvel is a force to be reckoned with in the world of art and entertainment!</p>
                <p>His life's mantra? Constant learning. With boundless passion, he delved into every pursuit, showcasing creativity in technology, programming, and the arts. A mentor to many, he inspired excellence and left an indelible mark on countless lives.</p>
                <p><b>Ever-helpful and a perfectionist in his craft, he blended compassion with expertise. A soul with diverse interests, he made every moment count. On April 24, 2021, he bid farewell to this world, leaving behind a legacy of learning, mentorship, and love. Here's to a life well-lived and lessons that live on.</b></p>
                </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
              <h3>Innovative Works of Vinesh</h3>
              <video src="work2.mp4" controls height="320px" width="400px"></video>
              <video src="work3.mp4" controls height="320px" width="400px"></video>
              <video src="work1.mp4" controls height="400px" ></video>
              <p>Vinesh's animation videos represent a vibrant and imaginative world, where creativity knows no bounds. His animated content is a testament to his exceptional storytelling abilities and artistic talent, captivating audiences through visually stunning narratives and endearing characters.</p>
            <p>Vinesh's animated videos not only entertain but also serve as a testament to his boundless creativity and dedication to the craft. His ability to transport audiences into imaginative realms, evoke emotions, and provoke thought through animated storytelling establishes him as a noteworthy and influential figure in the realm of digital animation. Each creation stands as a testament to his talent, leaving an indelible mark in the hearts and minds of those who experience his captivating animated tales.</p>
            </div>
      </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
              <h3>Tribute by Friends</h3>
            <p>Today morning this group, tribe - the world lost one of the brightest lights it had today. And it is darker that it was yesterday. A light that shone in ways that we couldn’t ever comprehend, and I just watched him in awe, as all of us did, as he lit things up the way he did.  When we would feel like we’d be flickering if that was one of us.</p>
            <p>He is one that has helped shape the very foundations of who we are and by just being himself embodied everything we stood for. Someone who worked harder everyday than all of us; and inspiration like no other. A creator with the wildest skills and human being with the most golden heart and beautiful soul. He touched every single of us in the most unique ways. Just with his energy but also his thoughts and his actions; actions that he so often took, out of his way, to help. His kindness and compassion and just him being; the way he was, he represented the best in us often. And this is not even considering the place he was in.</p>
            <p>He finds himself in a better place today. And that place is better for it. For it gets one of our best.
              And this world is worse off without him. But he too dreamed of a better world with us, and if, when we do make it, it will be dedicated to you Vinesh. </p> 
              <p>He gave us everything he had, like no one else. And I can only promise him that we will do our best in completing a quest we started together, that he was thinking about how to help, till the end.</p>
             <p><b>We love you Vinesh, and you will be missed</b></p> 
             <p><b>May he rest in peace </b></p>
          </div>
      </div>
    </div>
    </div>
    <%- include('footer') %>
</body>
</html>
