
<%- include('navbar') %>
<head>
	<title>About | VRC TRUST</title>
</head>

		<div id="fh5co-feature-product" >
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center heading-section">
						<h2>About Us</h2>
						<img src="abi.jpg" height="540px" width="400px">
						<br>
						<h3>Vinesh Ramakrishnan Charitable Trust</h3>
						<p>Vinesh Ramakrishnan Charitable Trust (VRCT) is a non-profitable organisation registered under
							Societies Registration act in the year 2021. It was started in memory of Vinesh Ramakrishnan who
							left us to his heavenly abode very early. To continue the dreams of Vinesh, we wish to motivate
							youngsters in the field of science and technology and widen their skills by conducting workshops and
							Motivational lectures as part of our Skill Up program. We will also help people in need. We hope that
							this trust will grow manifold to serve a large number of people in the coming years.</p>
							<b><p>The Founder Members are</p>
							<ul class="founders">
								<li>R.Manjula</li>
								<li>D.Ramakrishnan</li>
							</ul></b>
							<i><p>The advisory committee members are</p>
								<ul class="founders">
									<li>Dr. S. Suresh</li>
									<li>Ramesh. L Raja</li>
									<li>S. Chaithanyan</li>
									<li>R. Niveditha</li>
									<li>N. Bala Kishore</li>
									<li>Sudarshan Devraj</li>
									<li>R. Vignesh</li>
								</ul></i>
							</div>
				</div>
				</div>
				</div>
		<%- include('footer') %>
	</body>
</html>

