
<%- include('navbar') %>
<head>
	<title>About | VRC TRUST</title>
</head>

		<div id="fh5co-feature-product" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center heading-section">
						<h3>How we started</h3>
						<br>
						<h4>Vinesh Ramakrishnan Charitable Trust</h4>
						<p>VRCT was started last year to continue the dreams of Vinesh. We wish to motivate youngsters in the field of science and technology and widen their skills by conducting workshops and Motivational lectures as part of our Skill Up program. We will also help people in need. We hope that this trust will grow manifold to serve a large number of people in the coming years.</p>
						<br>
						<p>Today morning this group, tribe - the world lost one of the brightest lights it had today. And it is darker that it was yesterday. A light that shone in ways that we couldn’t ever comprehend, and I just watched him in awe, as all of us did, as he lit things up the way he did.  When we would feel like we’d be flickering if that was one of us.
 
							<p>He is one that has helped shape the very foundations of who we are and by just being himself embodied everything we stood for. Someone who worked harder everyday than all of us; and inspiration like no other. A creator with the wildest skills and human being with the most golden heart and beautiful soul. He touched every single of us in the most unique ways. Just with his energy but also his thoughts and his actions; actions that he so often took, out of his way, to help. His kindness and compassion and just him being; the way he was, he represented the best in us often. And this is not even considering the place he was in.
							
							He finds himself in a better place today. And that place is better for it. For it gets one of our best.
							And this world is worse off without him. But he too dreamed of a better world with us, and if, when we do make it, it will be dedicated to you Vinesh. 
							
							He gave us everything he had, like no one else. And I can only promise him that we will do our best in completing a quest we started together, that he was thinking about how to help, till the end. 
							</p>
							<p>
								<b>
							We love you Vinesh, and you will be missed
							
							May he rest in peace</b></p></p>
					</div>
				</div>
				</div>
				</div>
		
		<div id="fh5co-content-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>About Vinesh Ramakrishnan</h3>
						<div class="ag">
						<div class="w1"><img src="v4.jpg" width="300px" height="auto"></div>
						<div class="w1"><img src="v1.jpg" width="300px" height="auto"></div>
						<div class="w2"><img src="v2.jpg" width="300px" height="auto"></div>
						<div class="w3"><img src="v3.jpg" width="300px" height="auto"></div>
						</div>
						<li>
							<p>B.E. Production Engg. at PSG Coimbatore</p>
							<p>Worked as Lead designer, Animator and trainer at Warhorse Chennai</p>
							<p>Worked as special effects video creator for Dream on me Inc. USA</p>
							<p>VFX enthusiast, was an expert in making special effects videos and video editing.</p>
							<p>Game developer and designer of Virtual Reality environment</p>
							<p>Performed magic shows</p>
							<p>Learnt to play guitar and piano by himself and good at composing music.</p>
							<p>Budding artist, good at sketching and drawing</p>
							<p>	Film and music buff</p>
							<p>Can solve Rubik’s cube under 30 seconds</p>
							<p>Sculpting with clay</p>
							<p>	Leather craft</p>
							<p>	Learnt to juggle </p>
						</li>
						<p>His motto in life is to be learning constantly. He pursued whatever he did with great passion. He was very creative and was keen on learning new technologies, programming languages and art forms. He was a teacher and mentor to many, encouraging them to excel in their chosen career. He has impacted several people.
							Always helped others and was a perfectionist in his job. A compassionate and loving person who had diverse interests.
							</p>
					</div>
				</div>
			</div>
			</div>
		<%- include('footer') %>
	</body>
</html>

