<%- include('navbar') %>
<head>
	<title>Admin Gateway | VRC TRUST</title>
</head>

<div>
	<center>
		<h3>Welcome Admin !</h3>
        <h2>Have a Great Day ahead !</h2>
		<img src="success.jpg" height="360px" width="400px">
		<a href="/" class="btn btn-primary btn-lg">Home</a>
		<a href="/Addpost" class="btn btn-primary btn-lg">Add Post </a>
		<a href="/Addgallery" class="btn btn-primary btn-lg">Add Gallery </a>
	</center>
</div>
