
<%- include('navbar') %>
<head>
	<title>Contact | VRC TRUST</title>
</head>
		<div id="fh5co-contact" class="animate-box">
			<div class="container">
							<center>
							<h3 class="section-title">Registered Office Address</h3>
							<ul class="contact-info">
								<li>OLD 47/4 , NEW 50/4 , 11TH AVENUE , ASHOK NAGAR </li>
								<li>CHENNAI - 600083 </li>
								<li><a href="tel:+919444333708" class="btn btn-primary btn-lg">Call us</a></li>
								<li>Mobile: <b>9444333708 , 9444047799</b> </li>
								<li><a href="mailto:vineshrct@gmail.com" class="btn btn-primary btn-lg">Mail us</a></li>
								<li>Mail id: <b>vineshrct@gmail.com</b></li>
							</ul>
						</center>
					</div>
				</form>
				<br><br><br>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
							<h3><b>Contact us </b></h3>
							<a href="mailto:vineshrct@gmail.com" class="btn btn-primary btn-lg">MAIL US </a>
							<!--https://formsubmit.co/el/hubufi-->
							<br><br><br>
						</div>
						</div>
				<div id="fh5co-services-section">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
								<h3><b>Donee form</b></h3>
								<p>Request Donation for Social Welfare  </p>
							</div>
							</div>
							<center>
							<a href="/uploads/Donee form.xlsx" download><b>Download Donee Form </b><img src="dlogv.png" width="120px" height="120px"></a>
							<!-- Form to submit Excel file -->
							<form action="/submitdonee" method="post" enctype="multipart/form-data">
								<br><br>
								<label for="file">Kindly fill the form and Submit here</label>
								<br>
								<input type="file" name="file" id="file"  accept=".xlsx, .xls" width="180px">
								<br>
							<input type="submit" value="Submit" class="btn btn-primary btn-lg">
							</form>
							</center>
					</div>
				<br><br>
				</div>
				</div>
				</div>

		
		<%- include('footer') %>

