
<%- include('navbar') %>
<head>
	<title>Contact | VRC TRUST</title>
</head>
		<div id="fh5co-contact" class="animate-box">
			<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h3 class="section-title">Our Address</h3>
							<ul class="contact-info">
								<li>OLD 47/4 , NEW 50/4 , 11TH AVENUE , ASHOK NAGAR </li>
								<li>CHENNAI - 600083 </li>
								<li><a href="tel:+919444333708">Call us</a></li>
								<li>Mobile: <b>9444333708 , 9444047799</b> </li>
								<li><a href="mailto:vineshrct@gmail.com">Email us</a></li>
								<li>Mail id: <b>vineshrct@gmail.com</b></li>
							</ul>
						</div>
						<form action="#">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Name">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Email">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="" class="form-control" id="" cols="30" rows="7" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" value="Send Message" class="btn btn-primary">
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<br><br>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
							<h3>Donation Forms</h3>
							<p> Apply for Donors and Donation  </p>
						</div>
					</div>
				</div>
				<h3>DONOR FORM</h3>
				<form action="#" class="donor">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Name">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Age">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="tel" class="form-control" placeholder="Mobile No.">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="mail" class="form-control" placeholder="Email Id">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="" class="form-control" id="" cols="30" rows="2" placeholder="Purpose of Donation"></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="" class="form-control" id="" cols="30" rows="2" placeholder="Details of Help"></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="" class="form-control" id="" cols="30" rows="4" placeholder="Address"></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="" class="form-control" id="" cols="30" rows="1" placeholder="PAN NO."></textarea>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea name="" class="form-control" id="" cols="30" rows="1" placeholder="AADHAR NO."></textarea>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Educational Qualification">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Cash / Material">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="number" class="form-control" placeholder="Total Amount Needed">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Recommended by">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<input type="submit" value="Apply" class="btn btn-primary">
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
			<br><br>
			<h3>Donation form</h3>
			<form action="#" class="donation">
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Name of Donor">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Mobile No.">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Email id">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Cheque No./UTR No./SWIFT">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="" class="form-control" id="" cols="30" rows="1" placeholder="Mode of Donation:(Cheque/NEFT/RTGS/IMPS)"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="" class="form-control" id="" cols="30" rows="1" placeholder="Purpose of Donation(General/Education/Medical/Others)"></textarea>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<p>Date of Donation</p>
								<input type="date" class="form-control">
							</div>
						</div>
						<br>
						<p>Indian Citizens Only</p>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="DONOR Pan No./Tax Residency">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="AADHAR No.">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="" class="form-control" id="" cols="30" rows="4" placeholder="Donor Address"></textarea>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" value="Apply" class="btn btn-primary">
							</div>
						</div>
						</div>
						</div>
						</form>
						</div>

					</div>
				</div>
			</div>
			</div>
		</div>
		
		<%- include('footer') %>

