<%- include('navbar') %>
<head>
	<title>Gallery | VRC TRUST</title>
</head>

<div id="fh5co-portfolio">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
                <h3>Our Gallery</h3>
                <p>Welcome to our captivating gallery – where every click is a journey into the heart of our visual story</p>
            </div>
        </div>
        <div class="row row-bottom-padded-md">
            <div class="col-md-12">
                <ul id="fh5co-portfolio-list">
                    <% for (const photo of photos) { %>
                        <center>
                        <li>
                            <h2 class="phead"><%= photo.title %></h2>
                            <img src="<%= photo.imagePath %>" alt="Post Image" width="auto" height="410px">
                        </li>
                        </center>
                        <% } %>
                        <a href="#" class="color-3">
                        </a>
                    </li>
        <div class="row row-bottom-padded-md">
            <div class="col-md-12">
                <ul id="fh5co-portfolio-list">
                    <li>
                        <h3 class="phead"><center>Inaugration Programme on Skill Up of VRCT on 16 Nov.2022</center></h3>
                        <img src="pro1.jpg" alt="Post Image" width="auto" height="auto">
                    </li>
                    <br>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/WMnVwQ0yN6I?si=iiZuiLPnLlhfAfwV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <br><br>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image:url(i1.jpg); ">
                        <a href="#" class="color-3">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i4.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i5.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <br><br><br><br><br>
                    <h3>Skill Up Programme by Dr.V.Iraianbu on Rajapalayam Rajus' College</h3>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i7.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/GH1e7-gT6jo?si=lNFCLHrbju_otqMa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i9.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i10.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i12.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i13.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i16.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(i18.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(ga1.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(ga2.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(ga3.jpg); ">
                        <a href="#" class="color-6">
                        </a>
                    </li>
                </ul>	
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
<%- include('footer') %>
    </body>