<%- include('navbar') %>
		
<head>
	<title>Vinesh Ramakrishna Charitable Trust</title>
	<link rel="icon" type="/images/favicon-icon" href="favicon/icon.ico">
</head>
		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover text-center" data-stellar-background-ratio="0.8" style="background-image:url(bgi.jpeg)">
				<br><br>
				<img src="vrli.png" height="300px">
				<div class="desc animate-box">
					<br><br><br><br><br>
					<h2><strong>Vinesh Ramakrishnan Charitable Trust</strong></h2>
					<span class="fh5co-site-name">Inspiring and Serving the Society</span>
					<span class="fh5co-site-name">"Giving is a Virtue"</span>
				</div>
			</div>
</div>
		</div>
			</div>
				</div>
			</div>
		</div>

		<div id="fh5co-feature-product" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center heading-section">
						<h3><b>Vinesh Ramakrishnan Charitable Trust</b></h3>
						<h4>Old no 47/4, New no 50/4, 11 th Avenue, Ashok Nagar</h4>
						<h4>Chennai – 600083.</h4>
					</div>
				</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<center>
							<div class="feature-text">
								<h3>About Vinesh Ramakrishnan</h3>
								<p>Know about Vinesh</p>
								<a href="/aboutVineshRamakrishnan">Know More</a>
							</div>
							</center>
					</div>
					<div class="col-md-4">
						<center>
						<div class="feature-text">
							<h3>Apply for Donee</h3>
							<p>Apply to get Donation</p>
							<a href="/contact">Apply Now</a>
						</div>
						</center>
					</div>
					<div class="row">
						<div class="col-md-4">
							<center>						
								<div class="feature-text">
									<h3>Events We Conducted</h3>
									<p>Impact made in the society</p>
									<a href="/posts">Know More</a>
								</div>
							</center>
						</div>
				</div>
			</div>
		</div>
		<br><br><br>
		<div class="col-md-12 text-center heading-section">
			<h4><b>Views : <%= visitorCount %></b></h4>
		</div>
					<div id="fh5co-services-section">
						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
									<h3><b>Our Services</b></h3>
									<p>We Dedicate our Soul to Serve the Society </p>
								</div>
							</div>
						</div>
		<!-- END What we do -->
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 col-sm-4">
					<div class="services animate-box">
						<h3>Providing Education to the Needy People </h3>
						<p>Providing education to needy students involves the provision of learning opportunities and resources to those who may lack adequate access to education due to economic, social, or geographical constraints. This effort aims to bridge educational disparities and empower individuals who might otherwise be deprived of learning opportunities.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="services animate-box">
						<h3>Providing Medical Support to Poor people</h3>
						<p>Providing medical support to impoverished individuals involves ensuring access to healthcare services and facilities for those who may lack the financial means to afford adequate medical care. It encompasses a range of initiatives and assistance to address healthcare disparities and improve the well-being of underprivileged communities</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="services animate-box">
						<h3>Providing Awarness Program and Skill Development Program for the Students in college</h3>
						<p>Raising awareness among college students is a proactive step in nurturing responsible, well-informed, and socially conscious leaders of tomorrow. By empowering them with information and resources, these initiatives aim to ignite a sense of purpose, driving students to make informed choices that positively impact themselves and the world around them</p>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		</div>
		</div>
		<%- include('footer') %>
			</body>	
			</html	
