<!DOCTYPE html>
<html class="no-js"> 
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Vinesh Ramakrishnan Charitable Trust" />
	<meta name="author" content="Sunilkumar" />

	<!-- Animate.css -->
	<link rel="stylesheet" href="animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="superfish.css">

	<link rel="stylesheet" href="style.css">

	<link rel="icon" type="image/x-icon" href="favicon/icon.ico">

	<!-- Modernizr JS -->
	<script src="modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 text-left fh5co-link">
						<a href="/contact">Contact</a>
						<a href="/login">Login</a>
					</div>
				</div>
			</div>
		</div>
		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="/"><img src="lg.jpg" width="80px" height="110px"></a>
					<ul class="sf-menu" id="fh5co-primary-menu">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/Post" class="fh5co-sub-ddown">Events</a></li>
					<li><a href="/Gallery">Gallery</a></li>
					<li><a href="/services">Services</a></li>
					<li class=""><a href="/about" class="fh5co-sub-ddown sf-with-ul">About</a>
						<ul class="fh5co-sub-menu" style="display: none;">
						  <li><a href="/about">About Trust</a></li>
						  <li><a href="/aboutVineshRamakrishnan">About Vinesh Ramakrishnan</a></li>
						</ul>
					  </li>
					<li><a href="/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</header>
		