<%- include('navbar') %>

<head>
	<title>Services | VRC TRUST</title>
</head>		
		<div id="fh5co-blog-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Nurturing Our Society with a Mother's Touch</h3>
						<p>Embracing our community with the same tenderness as a mother, we passionately extend our care across every facet of society. Our commitment knows no bounds as we shower our community with unwavering affection, dedicated to serving in all dimensions.</p>
			</div>

			<% for (const det of details) { %>
			<div class="container">
				<div class="row row-bottom-padded-md">
					<div class="col-lg-4 col-md-4 col-sm-6">
						<center>
							<div class="serve">
									<h3 class="vw"><b><%= det.title %></b></h3>
									<p> <%= det.description %></p>
							</div>
							</center>
						</div>
					</div>
				</div>
			</div>
			<% } %>
			</div>
			</div>
			</div>
		</div>
		</div>
		</div>
		<%- include('footer') %>
	</body>
</html>

