<%- include('navbar') %>
		
<head>
	<title> Signup | VRC TRUST</title>
</head>

<center>
    <h2>SignUp Section</h2>
    <div class="formbox">
        <form action="/signup" method="POST">
            <label>Email</label>
            <input type="email" placeholder="Mail" name="mail" id="mail" required>
            <br><br>
            <label>Password</label>
            <input type="password" placeholder="Password" name="password" required>
            <br><br>
            <button>Submit</button>
        </form>
        </div>
</center>

<%- include('footer') %>