<%- include('navbar') %>
<head>
	<title>Success | VRC TRUST</title>
</head>

<div>
	<center>
		<h3>Post Added Successfully</h3>
		<img src="success.jpg" height="360px" width="400px">
		<a href="/" class="btn btn-primary btn-lg">Home</a>
		<a href="/Addpost" class="btn btn-primary btn-lg">Add Post </a>
		<a href="/Addgallery" class="btn btn-primary btn-lg">Add Gallery </a>
	</center>
</div>
<%- include('footer') %>