<%- include('navbar') %>
<head>
	<title>Success | VRC TRUST</title>
</head>

<div>
	<center>
		<h3>Message Sent Successfully</h3>
		<img src="success.jpg" height="360px" width="400px">
		<a href="/" class="btn btn-primary btn-lg">Home</a>
	</center>
</div>
<%- include('footer') %>